body {
    font-family: "Roboto Slab";
    background-color:aliceblue;
}

a {
    text-decoration:none;
}


.h2 {
    font-size: 26px;
    color:cadetblue;
}

.h3 {
    font-size: 20px;
    color:cadetblue;
}

.wrapper {
    margin: 50px auto 100px auto;
    padding: 0 0 0 0;
    max-width:70%;
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin: 0 auto 100px auto;
        padding: 0 0 0 0;
        max-width:90%;
    }
}